<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta
      name="description"
      content="An example of the Free Code Camp Anonymous Message Board Project"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/site.webmanifest" />

    <!-- STYLES -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href=".">Anonymous Message Board</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                href="https://plcoster.github.io/homepage/"
              >
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                FreeCodeCamp InfoSec Projects
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-infosec-project1.plcoster.repl.co"
                  >
                    Stock Price Checker
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-infosec-project2.plcoster.repl.co"
                  >
                    Anonymous Message Board
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://replit.com/@PLCoster/fcc-infosec-project3"
                  >
                    Port Scanner
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://replit.com/@PLCoster/fcc-infosec-project4"
                  >
                    SHA-1 Password Cracker
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://fcc-infosec-project5.plcoster.repl.co"
                  >
                    Secure Real Time Multiplayer Game
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://plcoster.github.io/homepage/projects.html"
              >
                All Projects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/PLCoster">
                <i class="fab fa-github"></i> Github
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://linkedin.com/in/plcoster">
                <i class="fab fa-linkedin"></i>
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <main>
        <header>
          <h1>
            <img
              class="logo"
              src="/public/logo.png"
              alt="White icon of a message bubble on a red square background"
            />
            Anonymous Message Board
          </h1>
        </header>

        <hr />

        <div id="api-container" class="d-flex flex-column align-items-center">
          <p>
            Test the Message Board API using the forms below, or visit a board
            directly by visiting <code>/b/&lt;BOARD&gt;</code>, for example
            <a href="/b/general">/b/general</a>
          </p>
          <p class="note">
            <strong>NOTE:</strong> This is a demo application. All Threads and
            Replies are viewable by any other user. Threads (and any Replies)
            are deleted 24 hours after creation.
          </p>
          <!-- THREAD API UI -->
          <section
            id="thread-api-ui"
            class="d-flex flex-row justify-content-center flex-wrap"
          >
            <form action="/api/threads/test" method="post" id="newThread">
              <h4>Create Thread</h4>
              <p>
                <code>POST /api/threads/&lt;BOARD&gt;</code>
              </p>
              <input
                type="text"
                placeholder="Board Name"
                id="board1"
                class="form-control form-control-sm"
                name="board"
                required=""
              />
              <textarea
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread text..."
                name="text"
                required=""
              ></textarea>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Password to Delete Thread"
                name="delete_password"
                required=""
              />
              <input
                class="btn btn-sm btn-danger"
                type="submit"
                value="Submit"
              />
            </form>

            <form id="reportThread">
              <h4>Report Thread</h4>
              <p><code>PUT /api/threads/&lt;BOARD&gt;</code></p>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Board Name"
                id="board2"
                name="board"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread id to Report"
                name="thread_id"
                required=""
              />
              <input
                class="btn btn-sm btn-danger"
                type="submit"
                value="Submit"
              />
            </form>

            <form id="deleteThread">
              <h4>Delete Thread</h4>
              <p><code>DELETE /api/threads/&lt;BOARD&gt;</code></p>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Board Name"
                id="board3"
                name="board"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread id to Delete"
                name="thread_id"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread Deletion Password"
                name="delete_password"
                required=""
              />
              <input
                class="btn btn-sm btn-danger"
                type="submit"
                value="Submit"
              />
            </form>
          </section>

          <!-- REPLY API UI -->
          <section
            id="reply-api-ui"
            class="d-flex flex-row justify-content-center flex-wrap"
          >
            <form action="/api/replies/test" method="post" id="newReply">
              <h4>Create Reply</h4>
              <p><code>POST /api/replies/&lt;BOARD&gt;</code></p>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Board Name"
                id="board4"
                name="board"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread id for Reply"
                name="thread_id"
                required=""
              />
              <textarea
                type="text"
                class="form-control form-control-sm"
                placeholder="Reply text..."
                name="text"
                required=""
              ></textarea>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Password to Delete Reply"
                name="delete_password"
                required=""
              />
              <input
                class="btn btn-sm btn-danger"
                type="submit"
                value="Submit"
              />
            </form>

            <form id="reportReply">
              <h4>Report Reply</h4>
              <p><code>PUT /api/replies/&lt;BOARD&gt;</code></p>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Board Name"
                id="board5"
                name="board"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread id of Reply"
                name="thread_id"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Reply id to Report"
                name="reply_id"
                required=""
              />
              <input
                class="btn btn-sm btn-danger"
                type="submit"
                value="Submit"
              />
            </form>

            <form id="deleteReply">
              <h4>Delete Reply</h4>
              <p><code>DELETE /api/replies/&lt;BOARD&gt;</code></p>
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Board Name"
                id="board6"
                name="board"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Thread id of Reply"
                name="thread_id"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Reply id to Delete"
                name="reply_id"
                required=""
              />
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Reply Deletion Password"
                name="delete_password"
                required=""
              />
              <input
                class="btn btn-sm btn-danger"
                type="submit"
                value="Submit"
              />
            </form>
          </section>
        </div>

        <hr />

        <section id="userstories">
          <h3>Example Usage:</h3>
          <h5>To Get the 10 Most Recent Threads on a Board:</h5>
          <ul class="usage-list">
            <li>
              Send a GET request to
              <code>/api/threads/&lt;BOARD&gt;</code> where &lt;BOARD&gt; is the
              name of the board you wish to view.
            </li>
            <br />
            <strong>For Example:</strong>
            <ul>
              <li>
                Get 10 most recent Threads (each with the 3 most recent replies)
                on the 'general' board:
                <code
                  ><a href="/api/threads/general">/api/threads/general</a></code
                >
              </li>
            </ul>
          </ul>

          <h5>To Get a Single Thread and All its Replies:</h5>
          <ul class="usage-list">
            <li>
              Send a GET request to
              <code
                >/api/replies/&lt;BOARD&gt;?thread_id=&lt;THREAD_ID&gt;</code
              >
              where &lt;BOARD&gt; is the name of the board containing the Thread
              you wish to view and &lt;THREAD_ID&gt; is the id of the Thread.
            </li>
            <br />
            <strong>For Example:</strong>
            <ul>
              <li>
                Get the full Thread with ID '123' on the 'general' board:
                <code
                  ><a href="/api/replies/general?thread_id=123"
                    >/api/replies/general?thread_id=123</a
                  ></code
                >
              </li>
            </ul>
          </ul>

          <h5>To Create a New Thread:</h5>
          <ul class="usage-list">
            <li>
              Submit the 'Create Thread' form above with a valid board name (can
              only contain characters [a-zA-Z0-9]), desired text for the thread
              and the password to be used to delete the thread.
            </li>
            <li>
              Alternatively, send a POST request to
              <code>/api/threads/&lt;BOARD&gt;</code>, where &lt;BOARD&gt; is
              the name of the board you wish to post on, with a body containing
              url or JSON encoded fields of <code>text</code> (thread text) and
              <code>delete_password</code> (password to delete the created
              thread).
            </li>
          </ul>

          <h5>To Report a Thread:</h5>
          <ul class="usage-list">
            <li>
              Submit the 'Report Thread' form above with the Board Name and
              Thread id of the Thread to be reported.
            </li>
            <li>
              Alternatively, send a PUT request to
              <code>/api/threads/&lt;BOARD&gt;</code>, where &lt;BOARD&gt; is
              the name of the board the Thread is on, with a body containing a
              url or JSON encoded field of <code>thread_id</code> (id of thread
              to report).
            </li>
            <ul>
              <li>
                If the Thread is successfully reported, a JSON string of
                'reported' is returned. Otherwise a JSON object with an 'error'
                property will be returned with information regarding the
                problem.
              </li>
            </ul>
          </ul>

          <h5>To Delete a Thread:</h5>
          <ul class="usage-list">
            <li>
              Submit the 'Delete Thread' form above with the Board Name, Thread
              id, and deletion password of the Thread to be deleted.
            </li>
            <li>
              Alternatively, send a DELETE request to
              <code>/api/threads/&lt;BOARD&gt;</code>, where &lt;BOARD&gt; is
              the name of the board the Thread is on, with a body containing url
              or JSON encoded fields of <code>thread_id</code> (id of thread to
              delete) and <code>delete_password</code> (password of the thread
              to be deleted).
            </li>
            <ul>
              <li>
                If the Thread is successfully deleted, a JSON string of
                'success' is returned. Otherwise a JSON object with an 'error'
                property will be returned with information regarding the
                problem.
              </li>
            </ul>
          </ul>

          <h5>To Add a Reply to a Thread:</h5>
          <ul class="usage-list">
            <li>
              Submit the 'Create Reply' form above with a the board name, id of
              the Thread to add the Reply to, desired text for the Reply and the
              password to be used to delete the Reply.
            </li>
            <li>
              Alternatively, send a POST request to
              <code>/api/replies/&lt;BOARD&gt;</code>, where &lt;BOARD&gt; is
              the name of the board the parent Thread is on, with a body
              containing url or JSON encoded fields of <code>thread_id</code>,
              <code>text</code> (reply text) and
              <code>delete_password</code> (password to delete the created
              reply).
            </li>
          </ul>

          <h5>To Report a Reply:</h5>
          <ul class="usage-list">
            <li>
              Submit the 'Report Reply' form above with the Board Name, Thread
              id and Reply id of the Reply to be reported.
            </li>
            <li>
              Alternatively, send a PUT request to
              <code>/api/replies/&lt;BOARD&gt;</code>, where &lt;BOARD&gt; is
              the name of the board the parent Thread is on, with a body
              containing a url or JSON encoded fields of
              <code>thread_id</code> and <code>reply_id</code>.
              <ul>
                <li>
                  If the Reply is successfully reported, a JSON string of
                  'reported' is returned. Otherwise a JSON object with an
                  'error' property will be returned with information regarding
                  the problem.
                </li>
              </ul>
            </li>
          </ul>

          <h5>To Delete a Thread:</h5>
          <ul class="usage-list">
            <li>
              Submit the 'Delete Reply' form above with the Board Name, Thread
              id, Reply id, and deletion password of the Reply to be deleted.
            </li>
            <li>
              Alternatively, send a DELETE request to
              <code>/api/replies/&lt;BOARD&gt;</code>, where &lt;BOARD&gt; is
              the name of the board the parent Thread is on, with a body
              containing url or JSON encoded fields of <code>thread_id</code>,
              <code>reply_id</code> and <code>delete_password</code> (password
              of the thread to be deleted).
            </li>
            <ul>
              <li>
                If the Reply is successfully deleted, a JSON string of 'success'
                is returned. Otherwise a JSON object with an 'error' property
                will be returned with information regarding the problem.
              </li>
            </ul>
          </ul>

          <h3>Example Output:</h3>
          <p>
            On requesting the 10 most recent threads on a board -
            <code>GET /api/threads/&lt;BOARD&gt;</code> - a JSON array
            containing up to 10 Thread objects, each with their most recent 3
            replies is returned:
          </p>

          <code class="block">
            [
            <ul class="indent">
              {
              <li>"_id": "63470c04f8e0923d8b562b58",</li>
              <li>"board_name": "general",</li>
              <li>"text": "Thread 1",</li>
              <li>"created_on": "2022-10-12T18:48:36.954Z",</li>
              <li>"bumped_on": "2022-10-12T18:49:07.193Z",</li>
              <li>"reply_count": 10,</li>
              <li>"replies": [</li>
              <ul class="indent">
                {
                <li>"_id": "63470c1af8e0923d8b562b5b",</li>
                <li>"text": "Reply 8",</li>
                <li>"created_on": "2022-10-12T18:48:58.991Z",</li>
                },
              </ul>
              <ul class="indent">
                {
                <li>"_id": "63470c1ff8e0923d8b562b5e",</li>
                <li>"text": "Reply 9",</li>
                <li>"created_on": "2022-10-12T18:49:03.232Z",</li>
                },
              </ul>
              <ul class="indent">
                {
                <li>"_id": "63470c23f8e0923d8b562b62",</li>
                <li>"text": "Reply 10",</li>
                <li>"created_on": "2022-10-12T18:49:07.193Z",</li>
                }]
              </ul>
              }, (...up to 9 more thread objects)
            </ul>
            ]
          </code>

          <p>
            On posting a new Thread, or adding a reply to an existing Thread,
            the new Thread object or updated Thread object with added reply are
            returned, respectively.
          </p>

          <p>
            On successfully reporting a Thread or Reply, the returned response
            will have a body consisting of the string
            <code>"reported"</code>.
          </p>

          <p>
            On successfully deleting a Thread or Reply, the returned response
            will have a body consisting of the string
            <code>"success"</code>.
          </p>

          <p>
            If any operation is not successful, the response will contain a JSON
            object with an <code>error</code> property, and corresponding value
            explaining the problem that occurred.
          </p>
        </section>
      </main>
      <hr />

      <footer>
        <p>
          A project set by
          <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
        </p>
      </footer>
    </div>

    <!-- Bootstrap, JQuery Scripts -->
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM JS FOR FORM SUBMISSION -->
    <script>
      $(function () {
        // POST /api/threads/:board
        $('#newThread').submit(function () {
          var board = $('#board1').val();
          $(this).attr('action', '/api/threads/' + board);
        });

        // POST /api/replies/:board
        $('#newReply').submit(function () {
          var board = $('#board4').val();
          $(this).attr('action', '/api/replies/' + board);
        });

        // PUT /api/threads/:board
        $('#reportThread').submit(function (e) {
          var url = '/api/threads/' + $('#board2').val();
          $.ajax({
            type: 'PUT',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });

        // DELETE /api/threads/:board
        $('#deleteThread').submit(function (e) {
          var url = '/api/threads/' + $('#board3').val();
          $.ajax({
            type: 'DELETE',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });

        // PUT /api/replies/:board
        $('#reportReply').submit(function (e) {
          var url = '/api/replies/' + $('#board5').val();
          $.ajax({
            type: 'PUT',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });

        // DELETE /api/replies/:board
        $('#deleteReply').submit(function (e) {
          var url = '/api/replies/' + $('#board6').val();
          $.ajax({
            type: 'DELETE',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
