<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta
      name="description"
      content="An example of the Free Code Camp Anonymous Message Board Project"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/site.webmanifest" />

    <!-- STYLES -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand board-title" href=".">Anonymous Message Board</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/"> Message Board Home </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <main>
        <header>
          <h3>
            <img
              class="logo"
              src="/public/logo.png"
              alt="White icon of a message bubble on a red square background"
            />
            Viewing Thread <span class="thread-title"></span>
          </h3>
        </header>

        <hr />

        <section id="board-threads">
          <!-- Thread and Replies Here -->
          <section id="boardDisplay"></section>
        </section>
      </main>
      <hr />

      <footer>
        <p>
          A project set by
          <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
        </p>
      </footer>
    </div>

    <!-- Bootstrap, JQuery Scripts -->
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- CUSTOM SCRIPTS -->
    <script>
      // Helper function to make any displayed text HTML-safe
      function replaceUnsafeCharsInTranslations(input) {
        if (typeof input !== 'string') {
          return input;
        }

        const charReplacements = {
          '<': '&lt;',
          '>': '&gt;',
          '&': '&amp;',
          '"': '&quot;',
          "'": '&#39;',
        };

        return input
          .split('')
          .map((char) =>
            char in charReplacements ? charReplacements[char] : char,
          )
          .join('');
      }

      $(function () {
        // Set Board / Thread titles on page
        const currentBoard = window.location.pathname.slice(3).split('/')[0];
        $('.board-title').text('/b/' + currentBoard);

        const currentURL = window.location.pathname.slice(3).split('/');
        const replyURL = '/api/replies/' + currentURL[0];
        $('.thread-title').text(currentURL[1]);

        // Helper function to create html to display a thread
        function createThreadHTML(threadObj) {
          const thread = [`<div class="thread" data-id="${threadObj._id}">`];
          thread.push('<div class="main" >');
          thread.push(
            '<p class="id" >id: ' +
              threadObj._id +
              ' (' +
              threadObj.created_on +
              ')</p>',
          );

          // Add Thread Text
          thread.push(
            `<h5 class="thread-title"><a  href="/b/${currentBoard}/${threadObj._id}">` +
              replaceUnsafeCharsInTranslations(threadObj.text) +
              '</a></h5>',
          );

          thread.push(`<div class="d-flex flex-row justify-content-between">`);

          // Add Thread Report Button
          thread.push(
            '<form id="reportThread"><input type="hidden" name="thread_id" value="' +
              threadObj._id +
              '"><input type="submit" class="btn btn-sm btn-warning" value="Report Thread"></form>',
          );

          // Add Thread Delete Button
          thread.push(
            '<form id="deleteThread" class="d-flex flex-row"><input type="hidden" value="' +
              threadObj._id +
              '" name="thread_id" required=""><input type="text" class="form-control form-control-sm" placeholder="password" name="delete_password" required=""><input type="submit" class="btn btn-sm btn-danger" value="Delete Thread"></form>',
          );

          thread.push('</div>');

          // Add Replies to Thread
          thread.push('</div><div class="replies">');

          thread.push(
            '<h6><span class="num-replies">' +
              threadObj.reply_count +
              '</span>' +
              ' Replies:' +
              '</h6>',
          );

          thread.push('<div class="replies-container">');
          // Add Replies onto Thread
          threadObj.replies.forEach(function (replyObj) {
            thread.push(createReplyHTML(threadObj, replyObj));
          });

          thread.push('</div></div>');

          // Add Form to create new Reply on Thread
          thread.push('<div class="new-reply-form">');
          thread.push('<form id="newReply">');
          thread.push(
            '<input type="hidden" name="thread_id" value="' +
              threadObj._id +
              '">',
          );
          thread.push(
            '<textarea class="form-control form-control-sm" rows="2" type="text" placeholder="Quick reply..." name="text" required=""></textarea>',
          );
          thread.push(
            '<input class="form-control form-control-sm" type="text" placeholder="password to delete" name="delete_password" required=""><input class="btn btn-sm btn-info" type="submit" value="Post Reply">',
          );
          thread.push('</form></div></div>');

          return thread.join('');
        }

        // Helper to create HTML for a single reply on a thread
        function createReplyHTML(threadObj, replyObj) {
          const reply = [];

          reply.push('<div class="reply">');
          reply.push(
            '<p class="id">id: ' +
              replyObj._id +
              ' (' +
              replyObj.created_on +
              ')</p>',
          );
          reply.push(
            '<p class="reply-text">' +
              replaceUnsafeCharsInTranslations(replyObj.text) +
              '</p>',
          );

          reply.push(`<div class="d-flex flex-row justify-content-between">`);

          // Add Reply Report Button
          reply.push(
            '<form id="reportReply"><input type="hidden" name="thread_id" value="' +
              threadObj._id +
              '"><input type="hidden" name="reply_id" value="' +
              replyObj._id +
              '"><input type="submit" class="btn btn-sm btn-warning" value="Report Reply"></form>',
          );

          // Add Reply Delete Button
          reply.push(
            '<form id="deleteReply" class="d-flex flex-row"><input type="hidden" value="' +
              threadObj._id +
              '" name="thread_id" required=""><input type="hidden" value="' +
              replyObj._id +
              '" name="reply_id" required=""><input type="text" class="form-control form-control-sm" placeholder="password" name="delete_password" required=""><input type="submit" class="btn btn-sm btn-danger" value="Delete Reply"></form>',
          );

          reply.push('</div></div>');
          return reply.join('');
        }

        // Get Thread and all its Replies
        $.ajax({
          type: 'GET',
          url: replyURL,
          data: { thread_id: currentURL[1] },
          success: function (threadData) {
            console.log(threadData);
            if (!threadData.error) {
              const boardThreads = [];
              //
              // THIS ARRAY SET UP IS FOR CODE READABILITIES AND TESTING!
              // THIS IS NOT WHAT IT WOULD LOOK LIKE TO GO LIVE
              //
              boardThreads.push(createThreadHTML(threadData));
              $('#boardDisplay').html(boardThreads.join(''));
            } else {
              $('#boardDisplay').html(
                `<h3>Thread not found!<br/><br/> <a href=".">Back to /b/${currentBoard}</a></h3>`,
              );
            }
          },
        });

        // On Reply Submission, display newly created reply
        $('#boardDisplay').on('submit', '#newReply', function (e) {
          e.preventDefault();
          const form = $(this);
          const thread = $(this).parents('.thread');

          $.ajax({
            type: 'POST',
            url: '/api/replies/' + currentBoard,
            data: $(this).serialize(),
            success: function (data) {
              if (!data.error) {
                // Clear form data
                form.children('input[type=text]').val('');
                form.children('textarea').val('');

                thread.find('.num-replies').html(data.reply_count);

                const _id = thread.attr('data-id');
                thread
                  .find('.reply-container')
                  .html(
                    data.replies
                      .map((reply) => createReplyHTML({ _id }, reply))
                      .join(''),
                  );

                $('#num-replies').html(data.reply_count);
              } else {
                alert(data.error);
              }
            },
          });
        });

        // Report a thread
        $('#boardDisplay').on('submit', '#reportThread', function (e) {
          e.preventDefault();
          const url = '/api/threads/' + currentBoard;

          $.ajax({
            type: 'PUT',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              if (!data.error) {
                alert(data);
              } else {
                alert(data.error);
              }
            },
          });
        });

        // Report a reply
        $('#boardDisplay').on('submit', '#reportReply', function (e) {
          e.preventDefault();
          const url = '/api/replies/' + currentBoard;

          $.ajax({
            type: 'PUT',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              if (!data.error) {
                alert(data);
              } else {
                alert(data.error);
              }
            },
          });
        });

        // Delete a Thread
        $('#boardDisplay').on('submit', '#deleteThread', function (e) {
          e.preventDefault();
          const url = '/api/threads/' + currentBoard;
          const threadEl = $(this).parents('.thread');

          $.ajax({
            type: 'DELETE',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              // Delete thread on screen if successful
              if (data === 'success') {
                threadEl.remove();
                $('#boardDisplay').html(
                  `<h3>Thread Deleted!<br/><br/> <a href=".">Back to /b/${currentBoard}</a></h3>`,
                );
              } else if (!data.error) {
                alert(data);
              } else {
                alert(data.error);
              }
            },
          });
        });

        // Delete a Reply
        $('#boardDisplay').on('submit', '#deleteReply', function (e) {
          e.preventDefault();
          const url = '/api/replies/' + currentBoard;
          const reply = $(this).parents('.reply');

          $.ajax({
            type: 'DELETE',
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              if (data === 'success') {
                // Remove Thread Text
                reply.children('.reply-text').html('[deleted]');
              } else if (!data.error) {
                alert(data);
              } else {
                alert(data.error);
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
