/****** Main Styling ******/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #fafafa;
  line-height: 1.4em;
  min-height: 100vh;
}

main {
  padding: 40px 0;
}

main .logo {
  max-height: 50px;
  margin-right: 20px;
}

hr {
  margin: 25px;
}

h3 {
  margin-top: 30px;
}

h5 {
  margin-top: 20px;
}

a {
  color: #2574a9;
}

input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.btn-danger {
  width: 100%;
  background-color: #d75556;
  border: none;
}

code {
  font-family: monospace;
  font-size: 1em;
  padding: 2px;
  color: black;
  background-color: #fff;
  max-width: 100%;
}

code.block {
  display: block;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow-x: auto;
}

code ul.indent {
  padding-left: 20px;
  list-style-type: none;
  margin-bottom: 0;
}

p.note {
  text-align: center;
}

.footer {
  margin-top: 40px;
}

/****** NavBar Styles ******/

.navbar.navbar-dark {
  background-color: #333;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/****** Index.html styles ******/

#api-container form {
  margin: 0 10px 25px 10px;
  padding: 15px;
  color: #fff;
  background-color: #333;
  width: 260px;
  height: 100%;
  border-radius: 5px;
}

#api-container form h3 {
  margin-top: 0;
}

/****** Thread and Reply Styles (Board and Thread views) ******/

.thread {
  border: 2px solid black;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.thread .btn-danger {
  margin-left: 10px;
}

.thread input[type='text'] {
  min-width: 100px;
}

.thread-title {
  margin-top: 0;
}

.thread-title a {
  text-decoration: none;
}

.id {
  font-size: 10.5px;
  margin-bottom: 0;
}

.replies {
  margin-left: 50px;
  font-size: 1em;
}

.reply {
  border: 1px dotted black;
  margin: 10px;
  padding: 5px;
}

.new-reply-form {
  margin: 10px 10px 10px 60px;
}

#submitNewThread {
  margin: 20px;
}
